@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body {
    background-size: cover;
    background-image: url("back.jpg");
}
#mainContainer {
    width: 75%;
    height: 600px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(237, 251, 253, 0.14);
    border-radius: 50px;
}
#left {
    width: 70%;
    height: 100%;
}
#city {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    font-weight: lighter;
    padding-left: 20px;
    border: none;
    background-color: rgba(237, 251, 253, 0.4);
}
#Search {
    height: 40px;
    padding: 0 15px;
    border-radius: 30px;
    border: none;
    font-weight: 900;
    background-color: #1a395c;
    color: white;
}
#leftOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 25px;
}
#timeDiv {
    line-height: 40px;
}
#time {
    font-size: 60px;
    font-weight: 900;
}
#ampm {
    font-size: 40px;
    font-weight: 500;
}
#date {
    font-size: 25px;
    margin-left: 5px;
}
#searchContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#right {
    width: 30%;
    height: 100%;
}
#rightOne {
    width: 80%;
    height: 170px;
    font-weight: bold;
    margin: 30px 0px 0px 30px;
    border-radius: 20px;
    background-color: #1a395c;
    padding-top: 50px;
    color: white;
    text-align: center;
}


#rightTop {
    width: 80%;
    height: 12%;
    margin: auto;
    background-color: rgb(53, 82, 8);
    padding-top: 30px;
    padding-left:20px;
    margin-top: 20px;
    font-weight: 400;
    color: white;
    opacity: .9;
    border-radius: 10px;
}
#rightTop2 {
    width: 300px;
    height: 90px;
    margin: auto;
    background-color: rgb(53, 82, 8);
    color: white;
    padding-top: 15px;
    margin-top: 10px;
    font-weight: 400;
    opacity: .9;
    border-radius: 10px;
}
#rightTop2 > div {
    margin-left: 20px;
}
#map1 {
    height: 200px;
    width: 700px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 30px;
}
select {
    margin: 30px 0 0 1300px;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: rgba(237, 251, 253, 0.182);
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 3, 3);
    border: none;
}
option {
    background-color: #1a395c;
    font-weight: bold;
}
